body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto; 
    min-height: 100vh;
    margin: 0;
}

.reservation-form {
    margin: auto;
    width: 50%;
    padding: 50px
}
.contact-data-element {
    padding-bottom: 15px;
    margin: 15px;
}

h1 {
    color: orange;
    text-align: center;
    margin-bottom: 80px;
}

header {
    background-color: #f7eee4;
    text-align: left;
    display: flex
}

nav {
    font-family: 'Brush Script MT', cursive;
    font-size: 22px;
    text-align: center;
    background-color: #f7eee4;
    padding-top: 10px
}

.navelements {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    gap: 20px;
}

.navitem {
    color: gold;
    border: 1px solid brown;
    padding: 10px;
    border-radius: 20px;
}
.navitem:hover {
    background-color: beige;
}

a {
    color: #a89333;
    text-decoration: none
}

a:hover {
    color: orangered;

}

footer {
    padding-top: 100px;
    text-align: center;
    font-size: 10px;
}

.navitem a[aria-current="page"] {
    color: orangered;
}

.allergene {
    text-align: left;
    margin-left: 25%;
    width: 50%;
}

table {
    text-align: left;
    width: 75%;
    margin-left: 15%;
    border: 2px solid brown;
    border-radius: 13px
}

table th {
    text-align: center;
    color: brown;
    padding-bottom: 15px;
    background-color: beige
}


table caption {
    font-size: 22px;
    text-align: right;
    padding-right: 50px;
    padding-bottom: 12px;
    color: orange
}

.timeline-item {
    margin: auto;
    width: 50%;
}

.Mitarbeiter {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin: auto;
    width: 50%;
}

.mitarbeiter-card {
    border: 1px solid brown;
    padding: 1rem;
    border-radius: 15px;
    background-color: beige
}